
{% extends "base.html" %}
{% block content %}
{% load static %}



    
    <div class="clr"></div>
    <div class="clearfix"></div>
   
    <div class="contactbox">
        <h1>About Us:</h1>
        <br><br>
        <p> Bulldog Banking is a website that allows you to conveniently keep track of your money from monthly expenses, to manage your money according to your own personal goals. This wiki page will show our list of features and development of the site. </p>
        <br><br>
  
    </div>

    

</body>
</html>

{%endblock%}