{% load static %}

<!DOCTYPE html>
<head>
    <title>Bulldog Banking</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %} ">
</head>
<body>
    <header>
        
        <div class="header">
            <div class="dropdown">
                <button class="dropbutton">Settings</button>
                    <div class="dropcontent">
                        <a href="{% url 'user-list' %}">Account</a>
                        <a href="{% url 'contact' %}">Help</a>
                        <a href="{% url 'logout' %}">Log Out</a>
                    </div>
            </div>
            
            
            <h1 id="title">Bulldog Banking</h1>
            <div class="Inline">
                <img src= "{% static "images/Logo.png" %}" alt="Image Not found" class="account">
                <h2 class="Welcome"> Welcome {{user.username}}</h2>
            </div>
            
        </div>
        <div>
            <nav id="navigation">
                <div class="menu">
                    <ul>
                        <li><a href="{% url 'landing' %}">Dashboard</a></li>
                        <li><a href="#">Calender</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>

    </header>

    {% block content %}  {% endblock content %}
    <div class="clr"></div>
    <div class="clearfix"></div>
   </body>