{% extends "base.html" %}
{% block content %}

{% load static %}
    
    <div class="clr"></div>
    <div class="clearfix"></div>
   
    <div>
        


    </div>

    <div class="box2">
        <h1>Bill Pay</h1>
        <table style="width:100%">
            <tr>
                <th>Type</th>
                <th>Total Amount</th>
                <th>Due Date</th>
                <th>Pay To</th>
                <th>Pay Now</th>
            </tr>
            <tr>    
                
                {% for bills in bills_list %}
           

                 <form method = "POST"> <!--action="{% url "bills-delete" bills.id %}" > -->
                {% csrf_token %}

                <td>
                 
                <input type="text" id="tname" name="tname" value="{{bills.bname}}" readonly></td>
               
                <td> $<input type="text" id="amount" name="amount" value="-{{bills.bamount}}" readonly></td>

                <td> <input type="text" id="date" name="date" value='{{bills.duedate|date:"Y-m-d"}}' readonly></td>
                <td> <input type="text" id="recipient" name="recipient" value="{{bills.brecipient}}" readonly></td>
                <input type="text" id="special" name="special" style="display:none;" value="{{bills.id}}" readonly>
                <td>
                    <input type="submit" value="Submit">
                </td>
          </form>
      
            </tr>
            <tr>

            {% empty %}
            <li>No objects yet.</li>

            {% endfor %}
    
        
        </table>
        <div>
        </div>
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'bills-create' %}">Add New Bill</a>
            <h1>Accumulative amount: $ {{ bTotal|floatformat:2 }} </h1>
        </div>
    </div>

</body>
</html>

{%endblock%}