{% load static %}

<!DOCTYPE html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %} ">
</head>
<body>
    <header>
        
		<div class="header">
            <div class="dropdown">
                <button class="dropbutton">Settings</button>
                    <div class="dropcontent">
                        <a href="{% url 'user-list' %}">Account</a>
                        <a href="{% url 'contact' %}">Help</a>
                        <a href="{% url 'logout' %}">Log Out</a>
                    </div>
            </div>
            
            
            <h1 id="title">Bulldog Banking</h1>
            <div class="Inline">
                <img src= "{% static "images/Logo.png" %}" alt="Image Not found" class="account">
                <h2 class="Welcome">Contact</h2>
            </div>
            
        </div>
        <div>
            <nav id="navigation">
                <div class="menu">
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li> 
                        <li><a href="#">Calender</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>

    </header>

    
    <div class="clr"></div>
    <div class="clearfix"></div>
   
    <div class="contactbox">
        <h1>Contact</h1>
        <br><br>
        <p>If you have any questions, concerns, comments, or issues please contact us at the following: </p>
        <br><br>
        <div><u>Dylan Messenger</u></div>
        <div>Email: dylanmessenger@mail.fresnostate.edu</div>
        <br><br>
        <div><u>Angel Silva</u></div>
        <div>Email: asilva18@mail.fresnostate.edu</div>
        <br><br>
        <div><u>Pete Solis</u></div>
        <div>Email: psoliss@mail.fresnostate.edu</div>
    </div>

    

</body>
</html>