{% extends "base.html" %}
{% block content %}
{% load static %}
    
    <div class="clr"></div>
    <div class="clearfix"></div>
   
    <div class="contactbox">
        <h1>Contact</h1>
        <br><br>
        <p>If you have any questions, concerns, comments, or issues please contact us at the following: </p>
        <br><br>
        <div><u>Dylan Messenger</u></div>
        <div>Email: dylanmessenger@mail.fresnostate.edu</div>
        <br><br>
        <div><u>Angel Silva</u></div>
        <div>Email: asilva18@mail.fresnostate.edu</div>
        <br><br>
        <div><u>Pete Solis</u></div>
        <div>Email: psoliss@mail.fresnostate.edu</div>
    </div>

    

</body>
</html>

{%endblock%}