{% load static %}
<!DOCTYPE html>
<head>
    <title>Dashboard</title>
     <link rel="stylesheet" href="{% static 'css/style.css' %} ">
</head>
<body>
    <header>
        
    <div class="header">
            <div class="dropdown">
                <button class="dropbutton">Settings</button>
                    <div class="dropcontent">
                        <a href="{% url 'user-list' %}">Account Info</a>
                        <a href="{% url 'contact' %}">Help</a>
                        <a href="{% url 'logout' %}">Log Out</a>
                    </div>
            </div>
            <!--
            <input type="button" class="button" onclick="location.href='homepage.html';" value="log out">
            <div id="settings">
                <input type="button" class="button" onclick="location.href='#';" value="settings">
            </div>-->
            
            <h1 id="title">Bulldog Banking</h1>
            <div class="Inline">
                <img src="{% static "images/Logo.png" %}" alt="Image Not found" class="account">
                <h2>Welcome {{ user.username }} </h2>
            </div>
            
        </div>
        <div>
            <nav id="navigation">
                <div class="menu">
                    <ul>
                        <li><a href="{% url 'landing' %}">User Dashboard</a></li>
                        <li><a href="{% url 'bill-list' %}">Bills</a></li>
                        <li><a href="{% url 'taction-list' %}">Transactions</a></li>
                    </ul>
                </div>
            </nav>
        </div>

    </header>

    <div class="clr"></div>
    <div class="clearfix"></div>
   <br>
   <a href="{% url 'calendar' %}">Calendar</a>
  <!-- <input type="button" id="submit" onclick="location.href='/users/billslist';" value="Bills"><br>
   <input type="button" id="submit" onclick="location.href='/users/tactionslist';" value="Transactions"><br>
   <input type="button" id="submit" onclick="location.href='/users/userlist';" value="User Info"><br> -->
   <div class="BalanceBox">
        <h1>Current Balance: ${{ cBalance|floatformat:2 }} </h1>
   </div>

   <div class="transactionsBox">
     <table style="width:100%">
        <tr>
          <th>Upcoming Bills</th>
        </tr>
        {% for bills in bills_list %}
        <tr>
          <td>Date: {{bills.duedate}}</td>
          <td>Bill: {{bills.brecipient}} </td>
        </tr>
     {% endfor %} 
      </table>
   </div> 
  <!-- {% for bills in bills_list %}
   <p> Bill Name: {{ bills.bname }}</p>
   <p> Amount: ${{ bills.bamount }}</p>
   <p> Due Date: {{ bills.duedate }}</p><br>
   {% endfor %}

<div style="margin-top: 150px;"></div>-->
</body>
</html>