{% extends "base.html" %}
{% block content %}

{% load static %}


    <div class="clr"></div>
    <div class="clearfix"></div>

   <div class="BalanceBox">
    <h1>Current Balance: ${{ cBalance|floatformat:2 }} </h1>
   </div>

   <div class="transactionsBox">
     <table style="width:100%">
        <tr>
          <th>Upcoming Bills</th>
          <th> Bill</th>
        </tr>
        {% for bills in bills_list %}
        <tr>
          <td>Date: {{bills.duedate}}</td>
          <td>{{bills.brecipient}} </td>
        </tr>
     {% endfor %} 
      </table>
   </div> 
 
</body>
</html>

{% endblock %}