{% extends "base.html" %}
{% block content %}
   
 
<div class="contactbox2">
        <h3>Enter Bill</h3>
        <form method = "post">
        {% csrf_token %}
        <br><br>
        <div><label for="bname">Bill Type:</label><br>
        <input type="text" id="bname" name="bname" value="{{object.bname}} ">
      </div>
        <br><br>
        <div><label for="brecipient">Recipient:</label><br>
      <input type="text" id="brecipient" name="brecipient" value="{{object.brecipient}}" ></div>
        <br><br>
        <div><label for="bamount">Bill amount:</label><br>
        <input type="text" id="bamount" name="bamount" value= "{{object.bamount}}" ></div>
      <br><br>
      <div><label for="duedate">Due Date:</label><br>
        <input type="text" id="duedate" name="duedate" value= "{{object.duedate|date:"Y-m-d"}}" ></div>
    <br><br> <input type="submit" value="Submit"/>
    </div>
  </form>
</div>


{% endblock %}