
<ul>
<a href="{% url 'landing' %}"> Homepage</a><br><br>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'bills-create' %}">Create New</a>
<br>
        <h5> Bills: </h5>
        {% for object in object_list %}

        <li>{{ object.bname }}</li>
        <li>{{ object.bamount }}</li>
            <li>{{ object.duedate }}</li>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'bills-update' object.id %}">Update</a>
             <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'bills-delete' object.id %}">Delete</a>

        <hr/>
        {% empty %}
        <li>No objects yet.</li>

        {% endfor %}
</ul>
