{% extends "base.html" %}
{% block content %}


<div class="clr"></div>
    <div class="clearfix"></div>
   
    <div>
        


    </div>

    <div class="box2">
        <h1>Transactions</h1>
        <table style="width:100%">
            <tr>
                <th>Description</th>
                <th>Recipent</th>
                <th>Total Amount</th>
                <th>Date</th>
                 <th>Modify</th>
            </tr>
            <tr>
            {% for object in object_list %}

                <td>{{object.tname}}</td>
                <td>{{object.recipient}}</td>
                <td>${{object.amount}}</td>
                <td> {{ object.date }} </td>
                <td> <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'taction-update' object.id %}">Update</a>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'taction-delete' object.id %}">Delete</a>
       
            </tr>
            <tr>
                 {% empty %}
        <li>No objects yet.</li>

        {% endfor %}
              <!--  <td>State Farm</td>
                <td>$150</td>
                <td>$<input type="payment amount"></td>
                <td>
                    <form>
                        <select>
                            <option value="Checking">Checking</option>
                            <option value="Savings">Savings</option>
                            <option value="Debit">Mastercard</option>
                            <option value="Debit">Visa</option>
                            <option value="Credit">Discover</option>
                            <option value="Credit">American Express</option>
                        </select>                        
                      </form>
                </td>
                <td>
                    <div class="center">
                        <input type="checkbox">
                    </div>
                </td>
            </tr>
                <td>Spotify</td>
                <td>$10</td>
                <td>$<input type="payment amount"></td>
                <td>
                    <form>
                        <select>
                            <option value="Checking">Checking</option>
                            <option value="Savings">Savings</option>
                            <option value="Debit">Mastercard</option>
                            <option value="Debit">Visa</option>
                            <option value="Credit">Discover</option>
                            <option value="Credit">American Express</option>
                        </select>
                      </form>
                </td> -->
        </table>
        
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'taction-create' %}">Add New Transaction</a>
            <h1>Total Grand Amount: $ {{ cBalance|floatformat:2 }} </h1>
        </div>
    </div>



{% endblock %}