<ul>
    <a href="{% url 'landing' %}"> Homepage</a><br><br>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'taction-create' %}">Create New</a>
    <h5> Transactions: </h5>
        {% for object in object_list %}

         <p> Description: {{ object.tname }}</p>
        <p>Amount: {{ object.amount }}</p>
        <p>Date: {{ object.date }}</p>
            <p>Recipient: {{ object.recipient }}</p>
             
             <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'taction-update' object.id %}">Update</a>
             <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'taction-delete' object.id %}">Delete</a>
        <hr/>
        {% empty %}
        <li>No objects yet.</li>
        {% endfor %}
        <p> Current Balance: ${{ cBalance|floatformat:2 }} </p>

</ul>