{% extends "base.html" %}
{% block content %}
    
<div class="contactbox2">
        <h3>Enter Transaction</h3>
        <form method = "post">
        {% csrf_token %}
        <br><br>
        <div><label for="tname">Transaction Type:</label><br>
        <input type="text" id="tname" name="tname" value="{{object.tname}} ">
      </div>
        <br><br>
        <div><label for="recipient">Recipient:</label><br>
      <input type="text" id="recipient" name="recipient" value="{{object.recipient}}" ></div>
        <br><br>
        <div><label for="bamount">Amount:</label><br>
        $<input type="text" id="amount" name="amount" value= "{{object.amount}}" ></div>
      <br><br>
      <div><label for="date">Date:</label><br>
        <input type="text" id="date" name="date" value= "{{object.date|date:"Y-m-d"}}" ></div>
    <br><br> <input type="submit" value="Submit"/>
    </div>
  </form>
</div>


{% endblock %}