{% extends "base.html" %}
{% block content %}
<ul>





<div class="transactionsBox">
        <h1>User Details</h1>

<!-- {if object.author == user %} -->
    <!-- Iterate over object_list -->
        {% for object in object_list %}
    <!-- Display Objects -->
        <li>First Name: {{ object.fname }}</li>
      <li>Last Name: {{ object.lname }}</li>
        <li> City: {{ object.city }}</li>
        <li> State: {{ object.state }}</li>
        <li> Address: {{ object.address }}</li>
        <li> ZipCode: {{ object.zipcode }}</li>
        <li> Date of Birth: {{ object.dob }}</li>
        <li> Phone: {{ object.phone }}</li>
        <li> Email: {{ object.email }}</li>
        <li> Username: {{ object.author }}</li>

        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'user-delete' object.id %}">Delete</a>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'user-update' object.id %}">Update</a>
        <hr>
        <!-- If objet_list is empty  -->
        {% empty %}

        <li>No objects yet.</li>
             <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'user-create' %}">Create New</a>

        {% endfor %}
<!--  else %} -->
<!-- >    <p> No posts yet</p> -->
<!-- % endif %} -->
</ul>


{% endblock %}